#header{px
	/*background-image: url();
	background-repeat: no-repeat;*/	
	background-color: black;	
	min-height: 960px
}
#header .container{
	width: 61%;
	margin: auto;
	padding: 48px 0 0 0;
}
#header nav{
	display: block;
	float: left;
}
#header nav li{
	display: inline;
	padding: 0 25px 0 0;	
	font-size: 16px;
	color: #ffffff;
}
#header nav li a{	
	font-size: 16px;
	color: #ffffff;
}
.logo{
	padding: 0 150px 0 0;
	display: block;
	float: left;
}
.container{
	width: 1182px;
	overflow: hidden;
}
.search{
	width: 68px;
	/*border-right: 1px solid white;
	border-left: 1px solid white;*/
	float: left;
	/*padding: 0 35px 0 33px;*/
	margin: 0 35px 0 33px;
	text-align: center;
	font-size: 20px;
}
#news_list{
	padding: 91px 0 0 0;
	background-color: #f3f6f9;
}
#news_list .col-md-8 div:nth-child(3){
	margin: 55px 0 0 0;
}
.news_item{
	overflow: hidden;
	border-bottom: 1px solid #d5d5d5;
	background-color: #fff;
	width: 781px;
}
/*#news_list .col-md-8{
	background-color: white;
	overflow: hidden;
}*/
#news_list h1{
	padding: 30px 0 0 65px;
	font-weight: 700;
	font-size: 22px;
}
#news_list h1:after{
	content: none;
}
#news_list p{
	padding: 13px 0 40px 65px;
	font-weight: 300;
	font-size: 18px;
	color: #505050;
}
#news_list .col-md-4 ul{
	padding-left: 70px;
}
#news_list .col-md-4 ul li:nth-child(1){
	list-style-type: none;
	font-weight: 700;
	font-size: 22px;	
	padding: 15px 0 25px 0;
	text-decoration: none;
}
#news_list .col-md-4  ul li{
	list-style-type: none;
	text-decoration: underline;
	color: black;
}
#news_list .col-md-4  ul li a{
	color: black;
	font-size: 18px;
	font-weight: 300;
	line-height: 38px;
}
#news_list input{
	margin: 0 0 0 70px;
	width: 300px;
	line-height: 40px;
	border: 0;
	padding: 0 0 0 34px;
	font-size: 15px;
}
#news_list .green_button{
	margin: 15px 0 75px 70px;
	width: 300px;
	line-height: 40px;
	border: 0;
	/*padding: 0 0 0 34px;*/
	font-size: 15px;
	background-color: #86b751;
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
}
.news_item_footer{
	display: block;
	overflow: hidden;
	background-color: #fff;
}
.news_item_footer div{
	width: 98px;
	float: left;
	border-right: 1px solid #dbdbdb;
	font-weight: 300;
	font-size: 16px;
	color: #d6d6d6;
	margin: 45px 0 45px 63px;

}
.news_item_footer span{
	display: block;
	float: left;
	font-weight: 300;
	font-size: 16px;
	color: #d6d6d6;
	padding: 45px 0 45px 20px;
	}
.news_item_footer button{
	display: block;
	float: right;
	width: 143px;
	font-size: 18px;
	font-weight: 400;
	border-radius: 5px;
	background-color: #639cd7;
	color: white;
	border: 0;
	line-height: 2.1;
	margin: 36px 45px 35px 0;
}
.top_menu {
	background-image: none;
	min-height: 140px;
	color: #2e313a;
}
.top_menu nav li a{
	color: #2e313a;
}
.top_menu nav li{
	color: #2e313a;
}
.top_menu .dropdown{
	color: #2e313a;
	border-left: 1px solid #2e313a;
	background-image: url("../img/icons/down-arrow_black.png");
}
.top_menu nav{
	border-right: 1px solid #2e313a;
}
.top_menu .search{
	background-image: url("../img/icons/search_black.png");
}
.top_menu{
	border-bottom: 1px solid #d1d1d3;
}
#news_list h3{
	list-style-type: none;
	font-weight: 700;
	font-size: 22px;	
	text-decoration: none;	
	padding: 70px 0 25px 70px;
}
#news_list .col-md-4 .articles{
	list-style-type: none;
	font-weight: 700;
	font-size: 22px;	
	text-decoration: none;	
	padding: 0 0 25px 70px;
}
#news_list .col-md-4 .art1{
	border-radius: 5px;
	display: block;
	float: left;
	margin-left: 70px;
}
#news_list .col-md-4 h4{
	width: 105px;
	margin: 20px 0 1px 215px;
	font-size: 18px;
	font-weight: 700;
	padding-top: 10px;
	color: black;
}
#news_list .col-md-4 .date{
	display: block;
	font-weight: 300;
	font-size: 14px;
	color: #707172;
	margin: 5px 0 18px 215px;
}
#news_list .col-md-4 div{
	padding-bottom: 10px;
}
.news_pgn{
	text-align: center;
}
.news_pgn ul {
	padding: 75px 0 103px 0;
}
.news_pgn ul li{
	display: inline;
	font-size: 18px;
	list-style-type: none;
	text-decoration: none;
	padding: 0 22px 0 0;	
}
.news_pgn ul li a{
	color: #000000;
	font-size: 18px;
}
.news_pgn ul .active a{
	color: #86b751;
	font-weight: 800;
	font-size: 18px;
}
.news_pgn ul .list_item_right a{
	background-image: url("../img/icons/right-arrow-button2.png");
	color: #000;
	padding: 0.5px 5px 0.5px 5px;
	background-repeat: no-repeat;
	background-position-y: center;
}
.news_pgn ul .list_item_left a{
	background-image: url("../img/icons/right-arrow-button.png");
	color: #000;
	padding: 0.5px 5px 0.5px 5px;
	background-repeat: no-repeat;
	background-position-y: center;
}
.news_pgn ul .list_item_left{
	padding: 0 35px 0 0;	
}
.news_pgn ul .list_item_right{
	padding: 0 0 0 13px;
}
footer{
	background-color: #2c2f38;	
}
footer nav li{
	display: inline-block;
	float: left;
	padding: 55px 80px 60px 0;
}
footer img{
	display: block;
	float: left;
	padding: 33px 0 0 168px;
}
footer nav li a{
	color: #6e7075;
}
.container-mini{
	width: 20%;
	display: block;
	float: left;

}
.container-mini i{
	width: 30px;
	height: 30px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-top: 5px;
	margin-right: 9px;
}
.container-mini .phone{
	background-image: url("../img/icons/phone.png");
}
.container-mini .email{
	background-image: url("../img/icons/mail.png");
}
.container-mini .viber{
	background-image: url("../img/icons/viber.png");
}
.container-mini .icq{
	background-image: url("../img/icons/icq-flower.png");
}
.container-mini .social{
	background-image: url("../img/icons/user.png");
}
.container-mini h4{
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
}
.container-mini span{
	font-size: 18px;
	line-height: 30px;
	color: #34404d;
	font-weight: 300;
	display: block;
	width: 170px;
}
.container-mini span i{
	width: 30px;
	height: 30px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-top: 5px;
	margin-right: 9px;
}
.container-mini span .vk{
	background-image: url("../img/icons/vk.png");
}

.container-mini span .you{
	background-image: url("../img/icons/youtube.png");
}

.container-mini span .f{
	background-image: url("../img/icons/facebook.png");
}
.container-mini .sosiality{
	width: 44px;
	height: 44px;
	float: left;
	background-color: #639cd7;
	margin-right: 17px;
	border-radius: 5px;
}
.container-mini .sosiality i{
	float: left;
	margin-top: 7px;
	margin-right: 0;
	margin-left: 7px;
}
#contacts{
	border-bottom: 1px solid #e3e3e3;
	padding-top: 87px;
	padding-bottom: 104px;
}
.cont_map{
	padding-top: 90px;
	padding-bottom: 90px;
}
#contacts h1{
	padding-bottom: 80px;
}
.cont_map img{
	display: block;
	float: left;
	padding-right: 100px;
}
.cont_map ul li{
	list-style-type: none;
}
.cont_map ul li h4{
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 0.02em;
	padding-bottom: 7px;
	margin-top: 0;
}
.cont_map ul li span{
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
	letter-spacing: 0.06em;
	color: #34404d;
}
.cont_map ul li:nth-child(2n){
	padding-bottom: 30px;
}
.cont_map button{
	width: 185px;
	border: 0;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	background-color: #639cd7;
	padding: 9px 25px 5px 25px;
	border-radius: 5px;
}
#contacts_map{
	border-bottom: 1px solid #e3e3e3;
}
.contacts_bot{
	padding: 96px 0 92px 0;
}
.contacts_bot li{
	list-style-type: none;
	display: inline-block;
	float: left;
}
.contacts_bot li:nth-child(1){
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: black;
	font-weight: 700;
	padding-right: 70px;
}
.contacts_bot li:nth-child(2){
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: #34404d;
	font-weight: 300;
	width: 390px;
	margin-top: -3px;
	margin-right: 165px;
}
.contacts_bot li:nth-child(3){
	font-size: 16px;
	line-height: 25px;	
	color: black;
	font-weight: 300;
}
.contacts_bot button{
	width: 286px;
	border: 1px solid #919191;
	background-color: #fff;
	padding: 9px 27px 7px 27px;
}
#cofe{	
	background-image: url("../img/bg-contacts.png"); 
}
#cofe .container{
	padding-top: 132px;
	padding-bottom: 116px;
}
#cofe .container span{
	font-size: 23px;
	line-height: 39px;
	letter-spacing: 0.02em;
	color: #fff;
	font-weight: 700;
	float: left;
	padding-right: 76px;
}
#cofe .container span::after{
	content: '';
	display: block;
	background-color: #639cd7;
	width: 55px;
	height: 5px;
	margin-top: 9px;
}
#cofe .container button{
	width: 223px;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	background-color: #639cd7;
	border: 0;
	border-radius: 5px;
	padding: 8px 92px 4px 102px;
	/*box-shadow: 0 20px 4px -4px rgba(24, 135, 249, 0.44);*/
}
#news-detail .container{
	padding: 90px 0 0 0;
}
#news-detail .container img{
	display: block;
	float: left;
	margin: 0 105px 61px 0;
}
#news-detail .container .news_item_footer div{	
	line-height: 25px;
	margin: 8px 0 0 0;
}
#news-detail .container .news_item_footer span{	
	line-height: 25px;
	padding: 9px 0 2px 20px;
}
#news-detail .container  h2{	
	margin: 15px 0 50px 0;
	display: block;
	float: left;
	font-size: 22px;
	line-height: 29px;
	font-weight: 700;
	width: 430px;
}
#news-detail .container span p{
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	color: #505050;
	padding-bottom: 48px;
}
#news-detail .news_detail_pgn{
	padding-top: 36px;
	display: block;
	float: left;
	padding-bottom: 138px;
}
#news-detail .news_detail_pgn button{
	display: block;
	float: left;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	background-color: #86b751;
	border: 0;
	width: 206px;
	border-radius: 5px;
	padding: 13px 51px 7px 51px;
	margin: 0 198px 0 190px;
}
#news-detail .news_detail_pgn a span{
	padding: 9px 43px 0 43px;
	display: block;
	float: left;
}
#news-detail .news_detail_pgn a{
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	font-weight: 400;	
}
#news-detail .news_detail_pgn i{
	width: 28px;
	height: 42px;
	display: block;
	
}
#news-detail .news_detail_pgn .left-pgn{
	float: left;
	background-image: url("../img/icons/keyboard-left-arrow-big.png");	
	background-repeat: no-repeat;
}
#news-detail .news_detail_pgn .right-pgn{
	float: right;
	background-image: url("../img/icons/keyboard-right-arrow-big.png");	
	background-repeat: no-repeat;
}
#news-detail{
	border-bottom: 1px solid #d2d2d2;
}