//Mixins
@import 'font';

/*Normal*/
@include font-face(Muller,"../fonts/Muller/MullerThin",100,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerUltraLight",200,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerLight",300,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerRegular",400,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerMedium",500,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerHairline",600,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerBold",700,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerExtraBold",800,normal,otf);
@include font-face(Muller,"../fonts/Muller/MullerBlack",900,normal,otf);

/*Italic*/
@include font-face(Muller,"../fonts/Muller/MullerThinItalic",100,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerUltraLightItalic",200,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerLightItalic",300,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerRegularItalic",400,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerMediumItalic",500,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerHairlineItalic",600,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerBoldItalic",700,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerExtraBoldItalic",800,italic,otf);
@include font-face(Muller,"../fonts/Muller/MullerExtraBlackItalic",900,italic,otf);



body{
	font-family:"Muller",sans-serif;
	font-weight:400;
	
}
.container{
	width:1186px;
	padding:0;
}
/*Header Main*/
header{
	background-image: url("../img/bg-header.png");
	background-repeat: no-repeat;
	min-height: 960px;
	color:#fff;
}
header .container{
	width: 1186px;
	margin: auto;
	padding: 48px 0 0 0;
}
.logo{
	padding: 0 150px 0 0;
	display: block;
	float: left;
}
header nav{
	display: block;
	float: left;
	border-right:1px solid #fff;
	padding:4px 0;
}
header nav li{
	display: inline;
	padding: 0 25px 0 0;

}
header nav li a{
	font-size: 16px;
	color: #ffffff;
	font-weight:300;
	line-height:25px;
}

.bluebtn{
	color:#fff;
	background-color:#639cd7;
	border-radius:3px;
	border:none;
	line-height:25px;
	padding-bottom:7px;
	padding-top:6px;
	font-size:14px;
	font-weight:400;
	padding:6px 19px 4px 19px;
}

.whitebtn{
	color:black;
	background-color:#fff;
	border-radius:3px;
	border:none;
	line-height:25px;
	padding-bottom:7px;
	padding-top:6px;
	font-size:14px;
	font-weight:400;
	padding:6px 19px 4px 19px;
}

.videobtn{
	background-image:url('../img/icons/play-button.png');
	background-repeat:no-repeat;
	background-position:170px center;
}

.icon{
	display:block;
	height:73px;
	width:68px;
	background-repeat:no-repeat;
}

.icon.shield{
	background-image:url('../img/icons/prot.png');
}
.icon.term{
	background-image:url('../img/icons/term.png');
}
.icon.pad{
	background-image:url('../img/icons/tablet.png');
}

h1{
	font-size:25px;
	font-weight:700;
	text-transform:uppercase;
	color:#000;
	letter-spacing:0.22em
}

h1:after{
	content:'';
	display:block;
	background-color:#639cd7;
	width:55px;
	height:5px;
	margin-top: 9px;

}

header{
	.dropdown{
		width:182px;
		font-size: 16px;
		font-weight:400;
		color:#fff;
		background-image:url("../img/icons/dropdown.png");
		background-position:right;
		background-repeat:no-repeat;
		overflow: hidden;
		cursor: pointer;
		float: left;
		line-height: 25px;
		padding:4px 0;
		border-left:1px solid #fff;
		padding-left:32px;
		margin-right: 20px;
	}

	.dropdown-content{
		//display: none;
	}

	.dropdown-content{
		list-style-type: none;
		display: none;
		width:152px;
		position:absolute;
		color:#fff;
		font-size: 16px;
		font-weight: 400;
		margin:0;
		padding:0;
		right:332px;
		top:73px;
	}

	.search{
	    width: 18px;
	    height: 25px;
	    margin: 4px 20px 4px 25px;
		float: left;
		text-align: center;
		font-size: 20px;
		background-image: url("../img/icons/search.png");
		background-repeat:no-repeat;
	}

	h1,h2{
		text-align: center;
	}

	h1{
		font-size: 54px;
		line-height: 54px;
		font-weight: 800;
		margin-top: 242px;
		color:#fff;
	}

	h1:after{
		display: none;
	}

	h2{
		margin-top: 17px;
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: 0.06em;
		
		span{
			color:#639cd7;
		}
	}

	hr{
		width: 138px;
    	height: 6px;
    	border: none;
    	background-color: rgba(255,255,255,0.07);
    	margin-top: 37px;
	}

	p{
		width:550px;
		margin:30px auto;
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.06em;
		font-weight: 300;
	}

	.buttonblock{
		text-align: center;
		margin-top: 18px;
		.bluebtn,.whitebtn{
			padding:12px 70px;
			font-size: 16px;
		}

		.whitebtn{
			margin-right: 32px;
			padding-right: 92px;
		}
	}
}

#underhead{
	.container{
		padding: 0;
	}
	.row{
			margin-top:130px;
			margin-bottom: 116px;
			margin-left: 0;
			margin-right: 0;
		}
	.blueblock{
		width:385px;
		background-color:#639cd7;
		padding:50px 50px 40px 45px;
		float: left;
		h3,p{
			color:#fff;
		}
		h3{
			font-size: 25px;
			font-weight: 800;
			line-height: 25px;
			letter-spacing: 0.02em;
			margin-top:0;
			margin-bottom: 26px;
		}
		p{
			line-height: 25px;
			font-size:22px;
			font-weight: 500;
		}
	}
	ul{
		list-style-type: none;
		margin-top: 42px;
		margin-bottom: 0;
		padding:0;
		display: block;
    	overflow: hidden;
		li{
			width:28%;
			display: block;
			overflow: hidden;
			float: left;
			margin-left: 30px;
			p{
				line-height: 25px;
				font-size: 18px;
				font-weight: 300;
				margin-top: 30px;
			}
		}
		li:first-child{
			margin-left: 60px;
		}
	}
}

#trust{
	background-color:#f3f6f9;
	.container{
		padding-top: 123px;
	}
	ul{
		list-style-type: none;
		display: block;
		overflow: hidden;
		padding:0;
		margin-top: 77px;
		margin-bottom: 100px;
		li{
			display: block;
			float: left;
			width:14.2%;
			img{
				width:auto;
			}
		}
	}
}

